.holder{
    width: 80%;
    margin: auto;
}

.rightSide{
    width: 60%;
    float: right;
    border-left: 2px solid black;
}

.leftSide{
    float: left;
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ListHolder{
    font-size: 1.5em;
    list-style: none;
    margin: auto;
}

.ListHolder:hover{
    background-color: whitesmoke;
    cursor:default;
}

.present{
    padding-top:25% ;
}